.book-desc {
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}