.book-add {
    width: 75%;
    aspect-ratio: 1;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}