.book-add {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}