.word-tooltip {
    width: auto;
    height: auto;
    background-color: #414141; /* Dark background */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-width: 200px;
    font-size: 14px;
    white-space: nowrap;
    }