.word-tooltip-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.word-tooltip {
    width: auto;
    height: auto;
    background: rgb(49, 49, 49);
    color: #fff;
    padding: 10px;
    border-radius: 8px;        
    z-index: 10;
    max-width: 200px;
    font-size: 14px;
    white-space: nowrap;
    
}