* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
}

:root {
    --primary-color: rgb(10, 10, 10);
    --primary-font: "Montserrat", sans-serif; 
    --primary-font-weight: 300;
}

html, body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}