.book {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.book-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.book-info {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}