.unknown-word {
    display: inline;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 0, 0.208);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.8vw;
    border: 0.1px solid transparent;
}

.unknown-word:hover {
    background-color: rgba(43, 0, 255, 0.392);
    border: 0.1px solid white;
}

.known-word {
    display: inline;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
    /* padding: 0.2vw; */
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.8vw;
    border: 0.1px solid transparent;
}

.known-word:hover {
    border: 0.1px solid white;
}

.symbol {
    display: inline;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
    padding-top: 0.5em;
    margin-top: 0.8vw;
    border: 0.1px solid transparent;
}

.space {
    width: 0.5em;
    display: inline-block;
    background-color: transparent;
}

.word-text {
    font-size: 1.2rem;
}